
/* 
----------------------------------------------------------------------------------------

Copyright 2010 - Thierry Ruiz - www.dotemplate.com - All rights reserved.

THIS TEMPLATE IS FREE AS LONG AS YOU KEEP THE LINK TO WWW.DOTEMPLATE.COM IN THE FOOTER
TO REMOVE THE LINK, PLEASE MAKE A 10 DOLLARS DONATION at www.dotemplate.com/#donate

----------------------------------------------------------------------------------------
*/

#left{
	float: left;
	width: 180px;
	padding: 10px;
}

#menuTitle{
	text-align: center;
	margin-bottom: 10px;
	width: 180px;
}

.produto{
	float: left;
	width: 180px;
	height: 270px;
	text-align: center;
	font-size: 12px;
	margin: 5px;
	color: black;
}

.produtoTitle{
	margin: 1px 0px 10px;
	height: 50px;
	color: black;
}

.produtoImagem{
}

.produtoDetalhe{
	float: left;
	margin: 5px;	
}

.produtoPreco{
	margin: 5px;	
}

.produtoLeft{
	float: left;
	width: 200px;
	margin: 10px;	
}

.produtoLeft button{
	float: left;
	text-align: center;
	width: 202px;
	height: 50px;	
	font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.busca{
	float: left;
	margin: 11px 5px 6px;
	padding-right: 25px;
	height: 35px;
}

.busca label{
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin-left: 25px;
	margin-right: 15px;
	color: black;
}

.detalhes{
	float: left;
	margin-right: 5px;
	width: 750px;
}

.logado{
	
}

.submit{
	float: left;
	padding: 5px 5px 0 25px;
}

#menu{
	margin:0px;
	float: left;
	width: 180px;
	background:#DDDDDD;
	padding: 1px;
}

.supercategoria{
	background:#9b251b;color:#FFFFFF;
}
.supercategoria a:link,.supercategoria a:visited{
	color:#FFFFFF;
}

div.ls{
	float:left;
}
div.lr{
	float:right;
}

.login{
	height:30px;
}

.texto input{
	margin: 7px 7px 7px 7px;
	height:15px;
	width:110px;
	background: gray;
	color:white;
	border:0px
}

.botao input{
	margin: 7px 7px 7px 7px;
	background: gray;
	color:white;
	border:0px
}

#dentronav{
	width:1200px;
	display:table;
	margin:0 auto;
	padding:0;
	position:relative;
	height:30px;
}

.quantText{
	width: 30px;
}

html {
	background: $bottomWrapper.bg.color;
	margin:0 0 0 -1px;
	padding:0;	
	overflow-Y: scroll;
	font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
}
					
#wrapper {
	margin:0 auto ;
	width:100%;
}

#wrapper {
	border-top: 0px solid #ffffff;
}
	
#topWrapper {
	width:100%;
	height:150px;
	background-color:${topWrapper.bg.color};
	background-image:url(../img/css/topWrapper-bg.jpg);
	background-position:center top ;
	background-repeat:repeat-x;
}
					
#topBanner {
	width:1000px;
	margin:0 auto;
	height:150px;
	background-image:url(../img/css/topBanner.jpg);
	background-repeat:no-repeat;
}

#topnav {
	background:transparent url('../img/css/hmenu.jpg') repeat-x top left;
}

#topnav {
	height:30px;
	margin:0 auto ;
	text-align:center;
}

#topnav ul {
	display:table;
	margin:0 auto;
	padding:0;
	list-style-type:none;
	position:relative;
	height:30px;
	text-transform:uppercase;
	font-size:12px;
	font-family:Arial,sans-serif;
	float:left
}

#topnav ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	background:transparent url('../img/css/hmenu.jpg') repeat-x top left;
	width: 200px;
}

#topnav ul li a {
	display:block;
	float:left;
	color:#000000;
	text-decoration:none;
	line-height:30px;
	font-weight:bold;
	width: 200px;
}


#topnav ul li a:hover, #topnav li.current a {
	color:#9b251b;
	/*background:transparent url('../img/css/hmenu-sel.jpg') repeat-x top left;*/
	background-color: #F7FFF7;
}

#topnav ul {
	
}

#container {
	margin:0 auto;
	width:1200px;
	min-height:770px;
	background:#F7FFF7;
}

#banner {
	margin:15px auto;
	width:100%;
}

.slideshow { 
	height: 326.0869565217391px;
	width:100%;
	margin: 0 auto ;
}


.slideshow img { 
	padding: 0; 
	margin:0;
	width:1000px;
	height:326.0869565217391px;
}

.slideshow a img { border:none } 

.slideshowContainer {
	display:block;
	clear:both;
	width:100%;
	position:relative;
}




.slideshowBottom {
	clear:both;
	height:20px;
	position:absolute;
	top:306.0869565217391px;
	width:1000px;
	z-index:10;
	background:url('../img/css/slideshowBottom.png') no-repeat scroll center center transparent;
}

.slideshowLeftCorner {
	height:10px;
	position:absolute;
	top:0;
	left:0;
	width:10px;
	z-index:10;
	background:url('../img/css/slideshowLeftCorner.png') no-repeat scroll center center transparent;
}

.slideshowRightCorner {
	height:10px;
	position:absolute;
	top:0;
	left:990px;
	width:10px;
	z-index:10;
	background:url('../img/css/slideshowRightCorner.png') no-repeat scroll center center transparent;
}
	

#content {
	width:990px;
	margin:0 auto ;
	text-align:left;
	float: left;
}

#content p {
	text-align:justify;
}

/*
    a:link........define o estilo do link no estado inicial;
    a:visited...define o estilo do link visitado;
    a:hover.....define o estilo do link quando passa-se o mouse sobre ele;
    a:active....define o estilo do link ativo (o que foi "clicado").
*/

#content a:link, #content a:visited{
	color:#000000;
	font-weight:bold;
}

#content p {
	margin-top:10px;
	text-align:justify;
}


.last {
	margin-right:0 !important;
	clear:right;
}

.one_fourth {
	float:left;
	margin-right:40px;
	width:220px;
	margin-bottom:20px;
	position:relative;
	
}

.bloc h3 {
	margin-top:10px;
}

.bloc {
	padding:15px;
	background-color:#EEEEEE;
}


.half {
	float:left;
	width:480px;
	margin: 20px 40px 20px 0px;
	position:relative;	
}

.padd15 {
	padding:15px;
}

.padd20 {
	padding:20px;
}

body {
	color:#444444;
	font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	padding:0;
	margin :0;
	display:table; 
	width:100%;	
}

p {
	letter-spacing: normal;
	line-height: 1.7em;
}



h1 {
	color:#000000;
	margin:20px 0 10px 0;
	clear:both;
}


h2 {
	color:#000000;
	margin:10px 0 10px 0;
	clear:both;
}


h3 {
	color:#000000;
	margin:10px 0 5px 0;
	clear:both;
}


a:link, a:visited {
	color:#9b251b;
	text-decoration:none;
}


a:hover {
	text-decoration:underline;
}

	
					
#bottomWrapper {
	background-color:#101010;
	background-image:url(../img/css/bottomWrapper-bg.png);
	background-position:center top ;
	background-repeat:repeat-x;
	text-align:center;
	color:#70806D;
	text-align:center;	
	width:100%;
	clear:both;	
}


#bottomWrapper a:link, #bottomWrapper a:visited {
	color:#e8ddcb;
}



#bottomWrapper a:hover{
	color:#cdb380;
	text-decoration:none;
}


#footer {
	min-height:70px;
	width:1000px;
	margin:0 auto;
	background-color:#101010;
	background-image:url(../img/css/footer-bg.png);
	background-position:center top ;
	background-repeat:no-repeat;
}




.footer-last {
	margin-right:0 !important;
	clear:right;
}

.footer-one-third {
	float:left;
	margin:20px 100px 20px 0;
	width:266px;
	position:relative;
	text-align:left;
	overflow:hidden;
}

.footer-one-third h3 {
	margin-top:10px;
}

.footer-one-third ul{
	border-top:1px solid #1a1a1a;
	padding:0 ;
}

.footer-one-third ul, .footer-one-third li {
	list-style: none ;
	margin-left:0 ;
}

.footer-one-third li {
	border-bottom:1px solid #1a1a1a;
	padding: 5px 0 ;
}



#bottom-links {
	height:60px;
	background:#010101 url('../img/css/bottomLinks-bg.png') center top repeat-x;
}
	

a img {
	border:none;
} 


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
